*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;

}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243,243,243);
}
.container{
    width: 380px;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    gap:0.7em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(224, 224,224),-5px -5px 10px white;

}
label,p{
    text-transform: uppercase;
    letter-spacing:0.05em;
    font-weight: bolder;
}
input{
    width: 100%;
    padding: 0.7em;
    font-size: 1em;
    border-radius:10px;
    border: none;
    outline: none;
    color:rgb(100,100,100);
    background-color: transparent;
    margin-bottom: 1.2em;
    box-shadow: inset 5px 5px 10px rgb(224 224 224),inset -5px -5px 10px white;


}
button{
    display: block;
    font-size: 0.9rem;
    border:5px solid transparent;
    border-radius:25px;
    padding:0.5em 1.8em;
    color:rgb(74 74 74);
    cursor: pointer;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgb(224 224 224),-5px -5px 10px white;


}
.btn-container{
    display: flex;
    justify-content: space-between;
}
button:hover{
    color:#0fff50;
    box-shadow: 5px 5px 10px rgb(224 224 224),-5px -5px 10px white,
    inset 5px 5px 10px rgb(224 224 224),inset -5px -5px 10px white;

}
.submit{
    width:80%;
    color: black;
    text-transform: uppercase;
}
p,.submit{
    margin:auto;
}